<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/amaze/header::nav-fragment"></div>
<div th:replace="blog/amaze/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-8 am-u-sm-12">
            <h1>选择题</h1>
            <form id="myForm">
                <br><br>
                <label  th:text="${question.question}">题目：</label>
                选项：<br>
                <input type="hidden" name="id" th:value="${question.id}"><br>
                <hr></hr>
                A.<input type="checkbox" name="answerList" value="A" th:text="${question.A}"><br>
                <hr> </hr>
                B.<input type="checkbox" name="answerList" value="B" th:text="${question.B}"><br>
                <hr> </hr>
                C.<input type="checkbox" name="answerList" value="C" th:text="${question.C}"><br>
                <hr> </hr>
                D.<input type="checkbox" name="answerList" value="D" th:text="${question.D}"><br>
                <hr></hr>
                E.<input type="checkbox" name="answerList" value="E" th:text="${question.E}"><br>
                <button type="button" id="submitBtn">提交</button>
            </form>
        <a th:href="@{/problem/next(id=${question.id-1})}">上一题</a><br><br>
        <div id="result"></div>
        <a th:href="@{/problem/next(id=${question.id+1})}">下一题</a><br><br>


    </div>
</div>
<!-- 引入页脚footer-fragment -->
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
<script>
    $(document).ready(function() {
        $("#submitBtn").click(function() {
            var id = $("input[name='id']").val();
            var answerList = $("input[name='answerList']:checked").map(function() {
                return $(this).val();
            }).get().join(",");

            $.ajax({
                url: "/problem/next2",
                type: "POST",
                contentType:"application/json;charset:utf-8",
                data:JSON.stringify( { id: id,answerList:answerList.split(",") }),
                success: function(data) {
                    $("#result").text(data);
                },
                error: function() {
                    $("#result").text("提交失败！");
                }
            });
        });
    });
</script>

</body>
</html>